body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color:  rgb(52, 141, 135);
      }
  .about
  
  h1 {
    text-align: center;
    }

  h1.zanzibar{
    color: black;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .member {
    text-align: center;
    margin: 0 20px;
  }
  
  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2px;
    margin-right: 100px;
  }
  

  h2 {
    margin: 0;
    text-align: left;
    color: black;
  }
  
  p {
    margin: 0;
    font-style: normal;
    text-align: justify;
    color: white;
  }
  
  span{
    color: white;
  }

  div.zanzibar{
    display: inline-block;
    height: 100px;
    width: 100%;
  }

  .zanzibar > div{
    margin-bottom: 10px;

  }

  p.zanzibar{
    padding: 10px ;
    margin-right: 50%;
    }

.about-us{
    text-align:center;
    margin: 0 auto;
    width: 600px;
}

.team{
    text-align: center;
}


