*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color:  rgb(52, 141, 135);
  }

  .menu{
    position : relative;
    display: flex;
    justify-content: space-between;
    background-color: #15023d;
    height: 70px;
    width: 100%;
  }
  .menu ul{
    color: white;
    align-items: center;
    float: right;
  }
  .menu ul li{
    display: inline-block;
    color: white;
    font-size: 20px;
    margin : 0 10px;
    line-height: 80px;
  }
  .menu a{
    color: white;
  }
  a.active,a:hover{
    color: rgb(83, 200, 221);
  }
  .logo {
    font-family: "Lobster", cursive;
    font-size: 30px;
    color: white;
    padding: 0 100px ;
    line-height: 80px;
  }

  .about
  
  h1 {
    text-align: center;
  }

  h1.zanzibar{
    color: black;
  }
  
  .team_members {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  
  .members {
    text-align: center;
    margin: 0 20px;
  }
  
  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2px;
    margin-right: 100px;
  }
  

  h2 {
    margin: 0;
    text-align: left;
    color: black;
    margin-top: 30px;
  }
  
  p {
    margin: 0;
    font-style: normal;
    text-align: justify;
    color: white;
    display: inline-block;
  }
  
  span{
    color: white;
    font-family: "Lobster", cursive;
    font-size: 30px;
  }

  div.zanzibar{
    display: inline-block;
    height: 100px;
    width: 100%;
  }

  .zanzibar > div{
    margin-bottom: 10px;

  }

  p.zanzibar{
    padding: 10px ;
    margin-right: 300px;
    }

.about-us{
    text-align:center;
    margin: 0 auto;
    width: 600px;
}

.team{
    text-align: center;
    margin-top: 20px;
}


@media (max-width: 600px) {
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2px;
    margin-right: 50px;
  }
  
  .logo {
    font-family: "Lobster", cursive;
    font-size: 20px;
    color: white;
    padding: 0 100px ;
    line-height: 40px;
  }

  div.team_members{
    display: inline-block;
  }

  p.zanzibar{
    padding: 10px ;
    margin-right: 150px;
    text-align: left;
    margin-left: 0;
    }

  div.zanzibar{
      display: inline-block;
      height: 100px;
      width: 80%;
    
    }
  
    .menu{
      position : relative;
      display: inline;
      justify-content: space-between;
      background-color: #15023d;
      height: 70px;
      width: 100%;
}
.menu ul{
  color: white;
  align-items: center;
  float: right;
  display: block;
}
}