body {
    font-family: Arial, sans-serif;
    background-color: rgb(52, 141, 135);
    padding: 20px;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  p {
    text-align: center;
  }
  form {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(52, 141, 135);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #0d0d0e;
    background-color: rgb(52, 141, 135);
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #175519;
    color: #0a0a0a;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  input[type="submit"]:focus {
    outline: none;
  }
  
  textarea {
    height: 150px;
    resize: vertical;
  }
  