.header{
    background-image: url(./Zanzibarphotos/bg.jfif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin: 0%;
}
body{
    background-color: #2AA1DB;
}
.header.nav-urls{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    margin: 0%;
    padding: 0%;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav a{
    margin: 0 10px;
}
.header a{
    margin-left: 20px;
}
.logo img{
    position: absolute;
    margin-left: 50px;
    top: 20px;
    height: 50px;
    border-radius: 20px;
    width: 100px;
}
.header-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header-section h1{
    color: rgb(2, 2, 2);
    font-size: 20px;
    font-weight: bold;
}
.tab-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-color: #2AA1DB;
    border-radius: 15px;
    padding: 10px;
    height: 100px;
}
.tab-title img {
    margin-top: 100px;
}
.introduction-text{
    background-color: #2AA1DB;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(2, 2, 2);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.introduction-text p{
    color: rgb(2, 2, 2);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    font-style: italic;
    

}

.activities-list {
    display: flex;
    max-width: 100vw;
}

.activity img {
    width: 300px;
    height: 250px;
}

.headings {
    padding: 20px;
}

.activity p {
    font-size: 18px;
    padding: 20px;
}

.activity {
    background: #cfcccc;
    border: none;
    margin-right: 20px;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}