*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.header{
    background-image: url(./Zanzibarphotos/bg.jfif);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin: 0%;
}
body{
    background-color: #2AA1DB;
}

.menu{
    position : relative;
    display: flex;
    justify-content: space-between;
    background-color: #15023d;
    height: 70px;
    width: 100%;
  }
  .menu ul{
    color: white;
    align-items: center;
    float: right;
  }
  .menu ul li {
    display: inline-block;
   
    font-size: 20px;
    margin : 0 10px;
    line-height: 80px;
    
  }
  .menu a{
    color: white;
  }
  a.active{
    color: rgb(83, 200, 221);
    transition: .5s;
  
  }
  a:hover{
    color: rgb(25, 235, 182);
  }
  
  
  .logo {
    font-family: "Lobster", cursive;
    font-size: 30px;
    color: white;
    padding: 0 100px ;
    line-height: 80px;
  }
  
.tab-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-color: #2AA1DB;
    border-radius: 15px;
    padding: 10px;
    height: 100px;
}
.tab-title img {
    margin-top: 100px;
}
.introduction-text{
    background-color: #2AA1DB;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(2, 2, 2);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.introduction-text p{
    color: rgb(2, 2, 2);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    font-style: italic;
    

}

.activities-list {
    display: flex;
    max-width: 100vw;
}

.activity img {
    width: 300px;
    height: 250px;
}

.headings {
    padding: 20px;
}

.activity p {
    font-size: 18px;
    padding: 20px;
}

.activity {
    background: #cfcccc;
    border: none;
    margin-right: 20px;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}