*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial;
  line-height: 1.7em;
}
a{
  text-decoration: none;
  color: #fff;
}

.container{
  max-width:1100px;
  margin:auto;
}
.serve{
  font-size:15px;
  padding: 10px 10px;
  text-align: justify;
}
.lead{
  font-size:18px;
  padding: 5px 5px;
  text-align: justify;
}

.btn{
  display:inline-block;
  padding: 07px 16px;
  background:#4397ea;
  border: none;
  cursor:pointer;
  font-size: 16px;
  border-radius: 03px;
  color:#fff;
  transition: all 0.3;
}

#nav-bar{
background: skyblue;
overflow: auto;
}
/* for the external pages*/
#navbar h1{
  float:left;
  padding-top:20px;
}
#navbar{
background: skyblue;
overflow: auto;
}
#navbar ul{
  list-style: none;
  float:right;
}

#navbar ul li{
  float:left;
}
#navbar ul li a{
  display:block;
  padding: 20px;
  text-align: center;
  transition: all 0.5s;
} 

#navbar ul li a:hover,
#navbar ul li a.current{
  background: #becfe0;
  transition: all 0.5s;
}

/*for the external pages*/

#nav-bar h1{
  float:left;
  padding-top:20px;
}
#nav-bar ul{
  list-style: none;
  float:right;
}

#nav-bar ul li{
  float:left;
}
#nav-bar ul li a{
  display:block;
  padding: 20px;
  text-align: center;
  transition: all 0.5s;
} 

#nav-bar ul li a:hover,
#nav-bar ul li a.current{
  background: #becfe0;
  transition: all 0.5s;
}

/*showcase*/
#showcase{
  /*image*/
  background-color: rgb(193, 233, 240);
  height: 400px;
  color: #75cae1;
  
}

.showcase-container{
  padding-top: 170px;
  color: #081a2c;
}

.showcase-container h2{
  font-size:60px;
  line-height: 1.9em;
}

.showcase-container p{
  font-size: 20px;
  margin-bottom: 20px;
}
.showcase-container .btn:hover{
  background :#4397ea;
  border: none;
  color: #fff;
  transition: all 0.3s;
}

/* about section*/
.about{
  height: 350px;
  margin-top: 40px;
  background-color: #c9eaf4;
  padding-bottom: 10px;
  padding-top: 10px;
}
.about h3{
  width: 100%;
  border-bottom: 2px solid #ddd;
  font-size: 30px;
}

.about h3 span{
  background: #ddd;
  padding: 10px 22px;
  color: #333;
  text-align: center;
  display: inline-block;
}

/* services*/
.services{
  width: 100%;
  padding-top: 10px;
}
#services .container{
height: 600px;
background-color: #aed1db;
padding-top: 10px;
}

.size{
  height: 250px;
  width: 220px;
  padding-top: 0px;
  align-items: center;
}

#services a{
  background: #ddd;
  padding: 10px 22px;
  color: #333;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}
#services h3{
  width:100%;
  border-bottom: 0.5px;
}
#services h3 span{
  background: #ddd;
  padding: 10px 22px;
  color: #333;
  text-align: center;
  display: inline-block;
}

#services .box{
  float:left;
  width: 24%;
  padding: 40px;
  text-align: center;
  margin: 10px 3px;
  height: 60%;
}

.bg-primary{
  background: #265ede;
  color: #fff;
  padding-bottom: px;
}

.light-gray{
  background: #ddd;
  
}

#services h2{
  margin-bottom: 25px;
}
.media{
  background-color: #9fc9f4;
  height:200px;
}

/* footer */
#main-footer{
  background: rgb(212, 219, 219);
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color:#fff;
  height: 70px;
}
.division{
 
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.videos{
  text-align: center;
  padding: 10px 10px;
}