* {
  margin: 0%;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.header {
  display: flex;

  min-height: 950px;
  background-image: url("pictures/img25.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  max-width: 1440px;

  background-color: rgb(52, 141, 135);;
}
.main {
  position: absolute;
  background-color: rgb(52, 141, 135);
  background-size: cover;
  top: 950px;
  right: 0;
  left: 0;

}
.menu{
  position : relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #15023d;
  height: 70px;
  width: 100%;
}
.menu ul{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.menu ul li {
  display: inline-block;

  font-size: 20px;
  margin : 0 10px;
  line-height: 80px;

}
.menu a{
  color: white;
}
a.active{
  color: rgb(83, 200, 221);
  transition: .5s;

}
a:hover{
  color: rgb(25, 235, 182) !important;
  text-decoration: none;
}


.logo {
  font-family: "Lobster", cursive;
  font-size: 30px;
  color: white;
  padding: 0 100px ;
  line-height: 80px;
}
label #btn,
label #cancel {
  z-index: 3;
  color: white;
  font-size: 30px;
  line-height: 80px;
  cursor: pointer;
}
.main_part {
  position: absolute;
  width: 350px;

  align-items: center;
  left: 250px;
  top:0;
}

.karibu {
  font-family: "Pacifico", cursive;

  font-size: 100px;
  line-height: 80px;
  margin-top: 280px;
  justify-content: center;
  white-space: nowrap;
  color: #15023d;
  align-items: center;

  border: none;
  letter-spacing: 10px;
  text-align: center;
}
.block1 p {
  font-family: "Lobster", cursive;
  font-size: 50px;
  text-align: center;
  color: #15023d;
  left: 400;

  white-space: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  letter-spacing: 10px;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .karibu {
      align-items: center;
      font-size: 30px;
      display: block;
      margin-left: 20px;
  }
  .header img{
      display: none;

  }
  .aims p{
    margin-right: 10px;
    justify-content: center;
    text-align: center;
  }
}